/* ======================================================== */
/* General Styles */
/* ======================================================== */
:root {
    --primary: #2f3640;
    --on-primary: white;
    --on-background: #133b7b;
    --text-color: #2f3640;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    ;
}

.blue-background { background-color: #26B3FB !important;}
.yellow-background { background-color: #FE9900 !important;}
.green-background { background-color: #81CF01 !important;}
.red-background { background-color: #C20000 !important;}

html, body {
    height: 100%;
    color: #2f3640;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

a:hover > * {
    opacity: 0.7;
}

a {
    text-decoration: none;
}

.mr-1 { margin-right: .5rem; }
.ml-3 { margin-left: 2rem; }
.mb-1 { margin-bottom: .5rem; }
.px-1 { padding-top: 1rem; padding-bottom: 1rem; }
.py-2 { padding-left: 1rem; padding-right: 1rem;}

.row { display: flex; }
.vertical { flex-direction: column; }
.justify-content-space-around { justify-content: space-around; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-flex-end { justify-content: flex-end; }
.align-items-flex-end { align-items: flex-end; }

a, a:visited {
    color: var(--primary);
}

.btn {
    border-radius: .3rem;
    background-color: var(--primary);
    color: var(--on-primary) !important;
    font-weight: 600;
    padding: .5rem 1rem;

}

.card {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
}

.title {
    margin-bottom: 2rem;
}

section h1 {
    /*text-align: center;*/
    font-size: 2rem;
    font-weight: normal;
    color: var(--primary);
}

section h2.title {
    padding: 0.75rem 0;
}

.has-background-light { background-color: #dedede; }
.has-background-lighter{ background-color: #f3f6fa; }

.is-32x32 {
    height: 32px;
    /*max-height: 32px;*/
}
/* ======================================================== */
/* Welcome Section Styles */
/* ======================================================== */


div.background-image {
    position: absolute;
    top: 10rem;
    left: 50%;
    bottom: 3rem;
    right: 10rem;
    background-image: url("./assets/portfolio-logo-big.png");
    z-index: 100;
    /*opacity: 0.7;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav a {
    width: 10rem;
    text-align: center;
}

nav {
    min-height: 3rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 40%;
}

section:first-of-type {
    min-height: 100vh;
    background: #131315;
}

#welcome-section h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: normal;
    color: white;
}


.title-2 {
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--primary);
}

.contact-line {
    align-items: center;
}

.contact-line * {
    vertical-align: middle;
}

.contact-box {
    margin-top: 2rem;
    margin-right: auto;
    background-color: #43434391;
    box-shadow: 0 3px 8px rgba(21, 20, 26, 0.50), 0 0 2px rgba(21 20 26, 0.75);
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    width: 400px;
}

.contact-box a { color: rgba(255, 255, 255, 0.75);}

/* ======================================================== */
/* About section styles                                     */
/* ======================================================== */

#about-section ul {
    list-style-position: inside;
}

div.about-box {
    margin-bottom: 2rem;
}


/* ======================================================== */
/* Skills Section styles                                    */
/* ======================================================== */

div.skills-box {
    background-color: white;
    margin: 2.5%;
    width: 45%;
    align-items: center;
    padding: 0.5rem;
}

div.skills-box h2 {
    line-height: 2;
}

.skills-box > p {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

/* ======================================================== */
/* Projects Section styles                                  */
/* ======================================================== */

div.project-tile > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 1rem 0;
}

div.project-tile img {
    width: 50%;
}

div.project-tile h2 {
    padding: 1rem 2rem 1rem 2rem;
}

/* ======================================================== */
/* Media Queries                                            */
/* ======================================================== */

@media only screen and (max-width: 640px) {
    .container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .background-image {
        display: none;
    }
    .logo {
        display: block;
    }

    #welcome-section {
        justify-content: flex-start;
    }

    *.hide-onmobile {
        display: none !important;
    }

    .horizontal-on-mobile {
        flex-direction: row;
    }

    .vertical-on-mobile {
        flex-direction: column;
    }

    nav { margin-left: 0; justify-content: space-around;}
    nav a { width: 6rem; padding: .5rem !important;}

    .contact-box { width: 300px;}

    section {
        padding: 1rem 0;
    }

    section h1 {
        padding-bottom: 0.5rem;
    }

    div.project-tile img {
        width: 100%;
    }

    div.project-tile > a {
        flex-direction: column;
        justify-content: center;
    }

    div.skills-box {
        width: 100%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}