/* ======================================================== */
/* General Styles */
/* ======================================================== */
:root {
  --primary: #2f3640;
  --on-primary: white;
  --about : #607D8B;
  --skills: #009688;
  --projects : #3F51B5;
  --resume : #9C27B0;
  --background-lowlight : #f4f7f5;
  --background: white;
  --on-background: #133b7b;
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, 'Segoe UI', Tahoma, Verdana, sans-serif;
}

html, body {
  height: 100%;
}

.container  {
  padding-left: 10%;
  padding-right: 10%;
}

.light-text {
  opacity : 0.7;
}

a:hover > * {
  opacity: 0.7;
}

i {
  margin-right: 5px;
}

.nav {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a, a:visited {
  color: inherit;
}

/* ======================================================== */
/* General sections Styles                                  */
/* ======================================================== */

hr {
  width: 33%;
  height: 3px;
  background-color: var(--text-color);
  border : 0;
  margin : 0 auto 1rem auto;
}

section {
  padding: 2rem 0;
  position: relative;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

section h2.title {
  padding : 0.75rem 0;
}

.section-title {
  border: solid 3px var(--on-primary);
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;
  margin: 1rem auto;
}

/* ======================================================== */
/* Welcome Section Styles */
/* ======================================================== */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  min-width: 100%;
  background: none;
  color: var(--primary);
}

div.background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("./home.jpg");
  z-index: -1;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section:first-of-type {
  min-height: 100vh;
}

#welcome-section h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#welcome-section h2 {
  text-align: center;
  line-height: 1.5;
  font-weight: normal;
}

nav {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: var(--on-primary);
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 1rem;
  text-align: center;

}

.nav-link.about {
  background-color: var(--about);
  color: var(--on-primary);
}

.nav-link.skills {
  background-color: var(--skills);
  color: var(--on-primary);
}

.nav-link.projects {
  background-color: var(--projects);
  color: var(--on-primary);
}

.nav-link.resume {
  background-color: var(--resume);
  color: var(--on-primary);
}

.contact-line {
  text-align: center;
  align-items: center;
  margin: 0.7rem 0;

}

.contact-line * {
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.1rem;
}

/* ======================================================== */
/* About section styles                                     */
/* ======================================================== */
#about-section {
  background-color: var(--about);
  color: var(--on-primary);
}
div.title {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#about-section img {
  width: 3.5rem;
  padding: 0 0.5rem 0.5rem 0;
}

#about-section ul {
  list-style-position: inside;
}

div.about-box {
  margin-bottom: 1rem;
}

/* ======================================================== */
/* Skills Section styles                                    */
/* ======================================================== */
#skills-section {
  background-color: var(--skills);
  color: var(--on-primary);
}
.skills-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.skills-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

div.skills-box img {
  width: 30%;
}

div.skills-box h3 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2;
}

/* ======================================================== */
/* Projects Section styles                                  */
/* ======================================================== */

#projects-section {
  background-color: var(--projects);
  color: var(--on-primary);
}
div.project-tile > a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 1rem 0;
}

div.project-tile img {
  width: 50%;
}

div.project-tile h2 {
  padding: 1rem 2rem 1rem 2rem;
}

/* ======================================================== */
/* Media Queries                                            */
/* ======================================================== */

@media only screen and (max-width: 450px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  *.hide-onmobile {
    display: none !important;
  }
  nav {
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-link {
    font-size: 1rem;
    padding: 0.5rem;
  }
  section {
    padding: 1rem 0;
  }

  section h1 {
    padding-bottom: 0.5rem;
  }

  div.project-tile img {
    width: 100%;
  }

  div.project-tile > a {
    flex-direction: column;
    justify-content: center;
  }

  div.skills-box {
    width: 100%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 816px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  nav {
    margin: auto 1rem;
  }

  .nav-link {
    font-size: 1.1rem;
    padding: 0.7rem;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}